.sideBar {
  border-right: 2px solid lightgray;
  min-height: 100vh;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: blueviolet;
    }
  }

  .center {
    padding: 24px 16px;

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 2px 0;
        width: 100%;

        button {
          padding: 6px 16px;
          border-radius: 6px;
        }

        a {
          color: #9DA4AE;
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          white-space: nowrap;
          text-decoration: none;
        }

        .icon {
          font-size: 18px;
        }
      }

    }

  }

  .title {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin-right: 10px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

    }
  }
}
