
.modalForm {
  width: 100%;
}

.buttons {
  background-color: transparent;
  position: absolute;
  top: 98%;
  z-index: 15;
  button {
    margin-right: 4px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &.reject {
      position: absolute;
      top: 8%;
      left: 94%;
    }
  }
}
