.actionForm {
}

.modalForm {
  width: 60%;
}

.cropper {
  height: fit-content;
  background: #DDD;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.buttons {
  background-color: transparent;
  position: absolute;
  top: 98%;
  z-index: 15;
  button {
    margin-right: 4px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &.reject {
      position: absolute;
      top: 8%;
      left: 94%;
    }
  }
}


